# High-Performance Pandas: eval() and query()
As we’ve already seen in previous chapters, the power of the PyData stack is built
upon the ability of NumPy and Pandas to push basic operations into C via an intu‐
itive syntax: examples are vectorized/broadcasted operations in NumPy, and
grouping-type operations in Pandas. While these abstractions are efficient and effecvtive for many common use cases, they often rely on the creation of temporary inter‐
mediate objects, which can cause undue overhead in computational time and
memory use.

## Motivating query() and eval(): Compound Expressions
We’ve seen previously that NumPy and Pandas support fast vectorized operations; for
example, when you are adding the elements of two arrays:

In [3]:
import numpy as np
rng=np.random.RandomState(42)
x=rng.rand(16)
y=rng.rand(16)
%timeit x+y

385 ns ± 4.2 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [4]:
# it is much faster than doing the addition via python loop or list comprehension
%timeit np.fromiter((xi + yi for xi,yi in zip(x,y)),dtype=x.dtype, count=len(x))

3.96 µs ± 650 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [5]:
# But this abstraction can become less efficient when you are computing compound expressions.
mask = (x>0.5)& (y<0.5)

In [6]:
# mask is roughly doing the following
temp1=(x>0.5)
temp2=(y<0.5)
mask=temp1 & temp2

*In other words, every intermediate step is explicitly allocated in memory. If the x and y
arrays are very large, this can lead to significant memory and computational over‐
head. The Numexpr library gives you the ability to compute this type of compound
expression element by element, without the need to allocate full intermediate arrays.*

In [8]:
import numexpr
mask_numexpr = numexpr.evaluate('(x > 0.5) & (y < 0.5)')
np.allclose(mask, mask_numexpr)

True

**The benefit here is that Numexpr evaluates the expression in a way that does not use
full-sized temporary arrays, and thus can be much more efficient than NumPy, espe‐
cially for large arrays. The Pandas eval() and query() tools that we will discuss here
are conceptually similar, and depend on the Numexpr package.**

<hr>

# pandas.eval() for Efficient Operations
The eval() function in Pandas uses string expressions to efficiently compute opera‐
tions using DataFrames. For example, consider the following DataFrames:

In [9]:
import pandas as pd

In [10]:
nrows,ncols=100000,100
rng=np.random.RandomState(42)
df1, df2,df3,df4=(pd.DataFrame(rng.rand(nrows,ncols)) for i in range(4))

In [11]:
df1

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.374540,0.950714,0.731994,0.598658,0.156019,0.155995,0.058084,0.866176,0.601115,0.708073,...,0.119594,0.713245,0.760785,0.561277,0.770967,0.493796,0.522733,0.427541,0.025419,0.107891
1,0.031429,0.636410,0.314356,0.508571,0.907566,0.249292,0.410383,0.755551,0.228798,0.076980,...,0.093103,0.897216,0.900418,0.633101,0.339030,0.349210,0.725956,0.897110,0.887086,0.779876
2,0.642032,0.084140,0.161629,0.898554,0.606429,0.009197,0.101472,0.663502,0.005062,0.160808,...,0.030500,0.037348,0.822601,0.360191,0.127061,0.522243,0.769994,0.215821,0.622890,0.085347
3,0.051682,0.531355,0.540635,0.637430,0.726091,0.975852,0.516300,0.322956,0.795186,0.270832,...,0.990505,0.412618,0.372018,0.776413,0.340804,0.930757,0.858413,0.428994,0.750871,0.754543
4,0.103124,0.902553,0.505252,0.826457,0.320050,0.895523,0.389202,0.010838,0.905382,0.091287,...,0.455657,0.620133,0.277381,0.188121,0.463698,0.353352,0.583656,0.077735,0.974395,0.986211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0.071979,0.439323,0.188588,0.586705,0.640611,0.662409,0.318503,0.600419,0.609742,0.390592,...,0.122887,0.491140,0.032855,0.567250,0.428673,0.421092,0.021024,0.398596,0.405897,0.869783
99996,0.313411,0.010490,0.469216,0.600825,0.451085,0.496918,0.983128,0.422056,0.719077,0.045588,...,0.072444,0.715574,0.300257,0.087290,0.130703,0.549202,0.287877,0.589258,0.516884,0.254370
99997,0.560873,0.647396,0.043068,0.282439,0.042950,0.346690,0.954034,0.603182,0.447768,0.888498,...,0.880079,0.508377,0.442052,0.621332,0.314942,0.131085,0.697310,0.111705,0.397560,0.988347
99998,0.710115,0.067999,0.611329,0.136199,0.054724,0.018160,0.911428,0.762005,0.245312,0.891027,...,0.249632,0.894231,0.342761,0.844330,0.659797,0.835561,0.117920,0.211202,0.931760,0.296913
99999,0.116834,0.461155,0.754556,0.250272,0.864631,0.588966,0.358260,0.655541,0.946702,0.145819,...,0.298095,0.496018,0.990856,0.368719,0.837910,0.244971,0.061637,0.933295,0.245149,0.388890

In [12]:
df2

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.926538,0.382461,0.871469,0.761471,0.328826,0.988821,0.120738,0.358905,0.954462,0.004711,...,0.310465,0.816988,0.930747,0.111477,0.772517,0.801181,0.466825,0.005912,0.705110,0.487674
1,0.715167,0.490948,0.904532,0.319521,0.582585,0.980330,0.019068,0.089363,0.281105,0.143648,...,0.433028,0.132540,0.263659,0.339079,0.234842,0.507921,0.544545,0.197424,0.432392,0.218104
2,0.975796,0.049902,0.092684,0.158453,0.858309,0.652550,0.681106,0.360168,0.843117,0.619341,...,0.156821,0.772316,0.412088,0.796167,0.548580,0.722526,0.141587,0.459266,0.128221,0.661666
3,0.369458,0.911366,0.892686,0.763454,0.581681,0.207756,0.024249,0.925860,0.191849,0.047043,...,0.313598,0.566552,0.844425,0.079068,0.338430,0.921877,0.856621,0.285027,0.505441,0.571166
4,0.794953,0.714644,0.652743,0.639999,0.801813,0.223324,0.468607,0.409739,0.846211,0.488558,...,0.349061,0.986111,0.389271,0.428010,0.645183,0.998789,0.805533,0.310009,0.876316,0.946936
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0.973490,0.631437,0.720622,0.141930,0.355449,0.638325,0.599268,0.267570,0.715158,0.909540,...,0.720632,0.069631,0.567910,0.373837,0.513205,0.318192,0.354705,0.785753,0.625627,0.893857
99996,0.704523,0.936341,0.711619,0.495312,0.029808,0.207772,0.673689,0.776497,0.871136,0.088103,...,0.636035,0.532702,0.744088,0.741955,0.967174,0.998244,0.632177,0.080062,0.289840,0.382859
99997,0.649755,0.352855,0.114277,0.826643,0.763885,0.168768,0.404275,0.079896,0.169630,0.953930,...,0.352673,0.635799,0.674737,0.290065,0.463327,0.358685,0.952076,0.979473,0.186088,0.000481
99998,0.975367,0.295327,0.642940,0.521112,0.592903,0.216556,0.203385,0.618827,0.191058,0.853803,...,0.229260,0.459856,0.601687,0.851845,0.740290,0.732748,0.416686,0.585025,0.785590,0.161383
99999,0.717863,0.281573,0.188958,0.903531,0.730933,0.826813,0.491981,0.364553,0.069016,0.354719,...,0.443628,0.101887,0.265541,0.134110,0.664314,0.536308,0.656200,0.041181,0.339916,0.646908

In [13]:
%timeit df1+df2+df3+df4

119 ms ± 576 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [14]:
%timeit pd.eval('df1+df2+df3+df4')

41.8 ms ± 1.31 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

**The eval() version of this expression is about 50% faster (and uses much less mem‐
ory), while giving the same result:**

In [15]:
np.allclose(df1+df2+df3+df4, pd.eval('df1+df2+df3+df4'))

True

### Operations supported by pd.eval()
As of Pandas v0.16, pd.eval() supports a wide range of operations. To demonstrate
these, we’ll use the following integer DataFrames:

In [19]:
# df1,df2,df3,df4,df5= (pd.DataFrame(rng.rand(0,1000,(100,3))) for i in range(5))
df1, df2, df3, df4, df5 = (pd.DataFrame(rng.randint(0, 1000, (100, 3)))
for i in range(5))

In [20]:
# Arithematic operator
result1=-df1*df2/(df3+df4)-df5
result2=pd.eval('-df1*df2/(df3+df4)-df5')
np.allclose(result1,result2)

True

In [21]:
# Comparison operator 
result1= (df1<df2)& (df2<=df3)& (df4!=df5)
reuslt2=pd.eval('(df1<df2)& (df2<=df3)& (df4!=df5)')
np.allclose(result1,reuslt2)

True

In [23]:
# Bitwise operator
result1= (df1<0.5)& (df2<=0.5)& (df4<df5)
reuslt2=pd.eval('(df1<0.5)& (df2<=0.5)& (df4<df5)')
np.allclose(result1,reuslt2)

True

In [24]:
result1=df2.T[0] + df3.iloc[1]
result2=pd.eval('df2.T[0] + df3.iloc[1]')
np.allclose(result1,result2)

True

## DataFrame.eval() for Column-Wise Operations
Just as Pandas has a top-level pd.eval() function, DataFrames have an eval()
method that works in similar ways. The benefit of the eval() method is that columns
can be referred to by name.

In [25]:
df = pd.DataFrame(rng.rand(1000, 3), columns=['A', 'B', 'C'])
df.head()

          A         B         C
0  0.375506  0.406939  0.069938
1  0.069087  0.235615  0.154374
2  0.677945  0.433839  0.652324
3  0.264038  0.808055  0.347197
4  0.589161  0.252418  0.557789

**Compute expression**

In [29]:

result1=(df['A']+df['B'])/(df['C']-1)
result2=pd.eval("(df.A+df.B)/(df.C-1)")
np.allclose(result1,result2)

True

In [31]:
# The DataFrame.eval() method allows much more succinct evaluation of expressions with the columns:
result3 = df.eval('(A + B) / (C - 1)')
np.allclose(result1, result3)

True

**Assignment in DataFrame.eval()**
In addition to the options just discussed, DataFrame.eval() also allows assignment
to any column. Let’s use the DataFrame from before, which has columns 'A', 'B', and
'C':

In [32]:
df.head()

          A         B         C
0  0.375506  0.406939  0.069938
1  0.069087  0.235615  0.154374
2  0.677945  0.433839  0.652324
3  0.264038  0.808055  0.347197
4  0.589161  0.252418  0.557789

In [33]:
df.eval('D=(A+B)/C',inplace=True)
df.head()

          A         B         C          D
0  0.375506  0.406939  0.069938  11.187620
1  0.069087  0.235615  0.154374   1.973796
2  0.677945  0.433839  0.652324   1.704344
3  0.264038  0.808055  0.347197   3.087857
4  0.589161  0.252418  0.557789   1.508776

In [34]:
df.eval('D = (A - B) / C', inplace=True)
df.head()

          A         B         C         D
0  0.375506  0.406939  0.069938 -0.449425
1  0.069087  0.235615  0.154374 -1.078728
2  0.677945  0.433839  0.652324  0.374209
3  0.264038  0.808055  0.347197 -1.566886
4  0.589161  0.252418  0.557789  0.603708

**Local variables in DataFrame.eval()**
The DataFrame.eval() method supports an additional syntax that lets it work with
local Python variables. Consider the following:

In [36]:
column_mean = df.mean(1)
result1 = df['A'] + column_mean
result2 = df.eval('A + @column_mean')
np.allclose(result1, result2)

True

<hr>

# DataFrame.query() Method
The DataFrame has another method based on evaluated strings, called the query()
method.

In [37]:
result1 = df[(df.A < 0.5) & (df.B < 0.5)]
result2 = pd.eval('df[(df.A < 0.5) & (df.B < 0.5)]')
np.allclose(result1, result2)

True

As with the example used in our discussion of DataFrame.eval(), this is an expres‐
sion involving columns of the DataFrame. It cannot be expressed using the Data
Frame.eval() syntax, however! Instead, for this type of filtering operation, you can
use the query() method

In [38]:
result2 = df.query('A < 0.5 and B < 0.5')
np.allclose(result1, result2)

True

*In addition to being a more efficient computation, compared to the masking expres‐
sion this is much easier to read and understand. Note that the query() method also
accepts the @ flag to mark local variables:*

In [39]:
Cmean = df['C'].mean()
result1 = df[(df.A < Cmean) & (df.B < Cmean)]
result2 = df.query('A < @Cmean and B < @Cmean')
np.allclose(result1, result2)

True

<hr>
<hr>

# Performance: When to Use These Functions
When considering whether to use these functions, there are two considerations: com‐
putation time and memory use. Memory use is the most predictable aspect. As already
mentioned, every compound expression involving NumPy arrays or Pandas Data
Frames will result in implicit creation of temporary arrays:

## This is the end of the Chapter 3: Data Manipulation in Pandas :) :) :)